.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  opacity: 1;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  z-index: 1;
  color: #2f80ed;
}

.feynman__link:visited {
  color: #2f80ed;
}

.feynman__link:hover {
  opacity: 0.5;
  transition: opacity 0.2s linear;
}
