.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Inter", "Helvetica Neue", "Arial", sans-serif;
}
/* Логотип */
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 100;
  width: 228px;
  height: 32px;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  overflow: hidden;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  /* выше установили ограничения для секции */
}

.header__title {
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 700;
  margin: auto 0 auto 64px;
  z-index: 99;
}
.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  z-index: 98;
  line-height: 25px;
  font-style: 18px;
  font-weight: normal;
}
.header__subtitle a {
  text-decoration: none;
  opacity: 1;
}
.header__subtitle a:visited {
  color: #2f80ed;
}
.header__subtitle a:hover {
  opacity: 0.8;
  transition: opacity 0.2s linear;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__main-illustration img {
  background-size: contain;
  width: 765px;
  height: 608px;
  position: absolute;
  z-index: 95;
  bottom: 0;
  right: 0;
}

.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 1;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.description {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 100px 0;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
  padding-top: 5px;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph {
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
